body {
    background: #f1e1ce;
    margin-left: 50px;
    margin-top: 25px;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#topZachThing {
    color: #333333;
    font-size: 4em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1e1ce;
}

a {
    color: #333333
}

h1 a:hover {
    color: #f1e1ce;

}

h2 {
    color: #333333;
    font-size: 2em;
}

/*creates the background for the menu buttons*/
body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

/* puts menu items horizontal instead of default vertical*/
li {
    color: rgb(162, 175, 174);
    display: inline;
}

/*  sets the color of the menu items */
li a {
    display: center;
    color: #f1e1ce;
    text-align: justify;
    padding: 16px;
    text-decoration: none;
}

/* setst the color of the menu items with a mouse hover */
li a:hover {
    background-color: #f1e1ce;
    color: #333333
}

h3 {
    color: #333333
}

p {
    color: #333333
}

/* sets the background hover color of h1*/
a:hover {
    background-color: #333333;
    color: #f1e1ce
}

/* aligns 'Message' with the top of the text box on the contact page */
textarea {
    vertical-align: top;
}